/*  your css code here. If applicable */
.H{
	font-size:150%;
}
.Table{
	width:300px;
	height:125px;
	border:1px solid black;
	background-color:#FFFF00;
}
.Header{
	font-size:25px;
}
.Data{
	font-size:25px;
}
	
	
	
}